<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>

    <!-- Stylesheets -->
    <!-- Stylesheets -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
    ><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
  </head>

  <body>
    <div class="page-wrapper dashboard">
      <!-- Preloader -->
      <div class="preloader"></div>

      <!-- Header Span -->
      <span class="header-span"></span>

      <!-- Main Header-->
      <header class="main-header header-shaddow">
        <div class="container-fluid">
          <!-- Main box -->
          <div class="main-box">
            <!--Nav Outer -->
            <div class="nav-outer">
              <div class="logo-box">
                <div class="logo">
                  <a href="/"><img src="/images/logo-black.png" alt="" title="" /></a>
                </div>
              </div>

              <nav class="nav main-menu">
                <ul class="navigation" id="navbar">
                  <li class="">
                    <a href="/"><span>Home</span></a>
                  </li>
                  <li class="">
                    <a href="/candidate/jobs"><span>Find Jobs</span></a>
                  </li>
                  <li class="">
                    <a href="#"><span>Blog</span></a>
                  </li>

                  <li class="dropdown">
                    <span>Pages</span>
                    <ul>
                      <li class="dropdown">
                        <span>Shop</span>
                        <ul>
                          <li><a href="shop.html">Shop List</a></li>
                          <li><a href="shop-single.html">Shop Single</a></li>
                          <li>
                            <a href="shopping-cart.html">Shopping Cart</a>
                          </li>
                          <li><a href="shop-checkout.html">Checkout</a></li>
                          <li>
                            <a href="order-completed.html">Order Completed</a>
                          </li>
                          <li><a href="login.html">Login</a></li>
                          <li><a href="register.html">Register</a></li>
                        </ul>
                      </li>
                      <li><a href="about.html">About</a></li>
                      <li><a href="faqs.html">FAQ's</a></li>
                      <li><a href="terms.html">Terms</a></li>
                      <li><a href="contact.html">Contact</a></li>
                    </ul>
                  </li>

                  <!-- Only for Mobile View -->
                  <li class="mm-add-listing">
                    <a href="add-listing.html" class="theme-btn btn-style-one"
                      >Job Post</a
                    >
                    <span>
                      <span class="contact-info">
                        <span class="phone-num"
                          ><span>Call us</span
                          ><a href="tel:1234567890">123 456 7890</a></span
                        >
                        <span class="address"
                          >329 Queensberry Street, Johannesburg <br />3051,
                          South Africa.</span
                        >
                        <a href="mailto:support@superio.com" class="email"
                          >support@superio.com</a
                        >
                      </span>
                      <span class="social-links">
                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="#"><span class="fab fa-instagram"></span></a>
                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                      </span>
                    </span>
                  </li>
                </ul>
              </nav>
              <!-- Main Menu End-->
            </div>

            <div class="outer-box">
              <!-- <button class="menu-btn">
                <span class="count">1</span>
                <span class="icon la la-heart-o"></span>
              </button> -->

              <button class="menu-btn">
                <span class="icon la la-bell"></span>
              </button>

              <!-- Dashboard Option -->
              <div class="dropdown dashboard-option">
                <a
                  class="dropdown-toggle"
                  role="button"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  <!-- <img
                    src="images/resource/company-6.png"
                    alt="avatar"
                    class="thumb"
                  /> -->
                  <span class="name">My Account</span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/candidate/dashboard">
                      <i class="la la-home"></i> Dashboard</a
                    >
                  </li>
                  <li>
                    <a href="/candidate/profile"
                      ><i class="la la-user-tie"></i>My Profile</a
                    >
                  </li>
                  <li>
                    <a href="/candidate/resume"
                      ><i class="la la-file-invoice"></i>My Resume</a
                    >
                  </li>
                  <li class="active">
                    <a href="/candidate/jobs/applied/"
                      ><i class="la la-briefcase"></i> Applied Jobs
                    </a>
                  </li>
                  <li>
                    <a href="#"><i class="la la-bell"></i>Job Alerts</a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="la la-bookmark-o"></i>Shortlisted Jobs</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="la la-file-invoice"></i> CV manager</a
                    >
                  </li>
                  <!-- <li><a href="dashboard-packages.html"><i class="la la-box"></i>Packages</a></li> -->
                  <li>
                    <a href="#"><i class="la la-comment-o"></i>Messages</a>
                  </li>
                  <li>
                    <a href="#"><i class="la la-lock"></i>Change Password</a>
                  </li>
                  <li>
                    <a href="#"><i class="la la-user-alt"></i>View Profile</a>
                  </li>
                  <li>
                    <a href="/"><i class="la la-sign-out"></i>Logout</a>
                  </li>
                  <li>
                    <a href="#"><i class="la la-trash"></i>Delete Profile</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Mobile Header -->
        <div class="mobile-header">
          <div class="logo">
            <a href="/"><img src="/images/logo-black.png" alt="" title="" /></a>
          </div>

          <!--Nav Box-->
          <div class="nav-outer clearfix">
            <div class="outer-box">
              <!-- Login/Register -->
              <div class="login-box">
                <a href="login-popup.html" class="call-modal"
                  ><span class="icon-user"></span
                ></a>
              </div>

              <button id="toggle-user-sidebar">
                <img
                  src="images/resource/company-6.png"
                  alt="avatar"
                  class="thumb"
                />
              </button>
              <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"
                ><span class="flaticon-menu-1"></span
              ></a>
            </div>
          </div>
        </div>

        <!-- Mobile Nav -->
        <div id="nav-mobile"></div>
      </header>
      <!--End Main Header -->

      <!-- Sidebar Backdrop -->
      <div class="sidebar-backdrop"></div>

      <!-- User Sidebar -->
      <div class="user-sidebar">
        <div class="sidebar-inner">
          <ul class="navigation">
            <li>
              <a href="/candidate/dashboard">
                <i class="la la-home"></i> Dashboard</a
              >
            </li>
            <li>
              <a href="/candidate/profile"
                ><i class="la la-user-tie"></i>My Profile</a
              >
            </li>
            <li>
              <a href="/candidate/resume"
                ><i class="la la-file-invoice"></i>My Resume</a
              >
            </li>
            <li class="active">
              <a href="/candidate/jobs/applied/"
                ><i class="la la-briefcase"></i> Applied Jobs
              </a>
            </li>
            <li>
              <a href="#"><i class="la la-bell"></i>Job Alerts</a>
            </li>
            <li>
              <a href="#"><i class="la la-bookmark-o"></i>Shortlisted Jobs</a>
            </li>
            <li>
              <a href="#"><i class="la la-file-invoice"></i> CV manager</a>
            </li>
            <!-- <li><a href="dashboard-packages.html"><i class="la la-box"></i>Packages</a></li> -->
            <li>
              <a href="#"><i class="la la-comment-o"></i>Messages</a>
            </li>
            <li>
              <a href="#"><i class="la la-lock"></i>Change Password</a>
            </li>
            <li>
              <a href="#"><i class="la la-user-alt"></i>View Profile</a>
            </li>
            <li>
              <a href="/"><i class="la la-sign-out"></i>Logout</a>
            </li>
            <li>
              <a href="#"><i class="la la-trash"></i>Delete Profile</a>
            </li>
          </ul>

          <div class="skills-percentage">
            <h4>Skills Percentage</h4>
            <p>
              Put value for "Cover Image" field to increase your skill up to
              "85%"
            </p>

            <!-- Pie Graph -->
            <div class="pie-graph">
              <div class="graph-outer">
                <input
                  type="text"
                  class="dial"
                  data-fgColor="#7367F0"
                  data-bgColor="transparent"
                  data-width="234"
                  data-height="234"
                  data-linecap="normal"
                  value="30"
                />
                <div class="inner-text count-box">
                  <span
                    class="count-text txt"
                    data-stop="30"
                    data-speed="2000"
                  ></span
                  >%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End User Sidebar -->

      <!-- Dashboard -->
      <section class="user-dashboard">
        <div class="dashboard-outer">
          <div class="upper-title-box">
            <h3>Applied Jobs</h3>
            <div class="text">Ready to jump back in?</div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <!-- Ls widget -->
              <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>My Applied Jobs</h4>

                    <!-- <div class="chosen-outer">
                     
                      <select class="chosen-select">
                        <option>Last 6 Months</option>
                        <option>Last 12 Months</option>
                        <option>Last 16 Months</option>
                        <option>Last 24 Months</option>
                        <option>Last 5 year</option>
                      </select>
                    </div> -->
                  </div>

                  <div class="widget-content">
                    <div class="table-outer">
                      <table class="default-table manage-job-table">
                        <thead>
                          <tr>
                            <th>Job Title</th>
                            <th>Date Applied</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>

                        <tbody>
                          <% job.forEach(element => { %>
                          <tr>
                            <td>
                              <!-- Job Block -->
                              <div class="job-block">
                                <div class="inner-box">
                                  <div class="content">
                                    <span class="company-logo"
                                      ><img
                                        src="/images/resource/company-logo/1-1.png"
                                        alt=""
                                    /></span>
                                    <h4>
                                      <a href="#"><%= element.jobTitle %></a>
                                    </h4>
                                    <ul class="job-info">
                                      <li>
                                        <span
                                          class="icon flaticon-briefcase"
                                        ></span>
                                        <%= element.company %>
                                      </li>
                                      <li>
                                        <span
                                          class="icon flaticon-map-locator"
                                        ></span>
                                        <%= element.city %>, <%=
                                        element.province %>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td><%= element.createdAt %></td>
                            <td class="status">Active</td>
                            <td>
                              <div class="option-box">
                                <ul class="option-list">
                                  <li>
                                    <button data-text="View Aplication">
                                      <span class="la la-eye"></span>
                                    </button>
                                  </li>
                                  <li>
                                    <button data-text="Delete Aplication">
                                      <span class="la la-trash"></span>
                                    </button>
                                  </li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Dashboard -->

      <!-- Copyright -->
      <div class="copyright-text">
        <p>© 2023 404!. All Right Reserved.</p>
      </div>
    </div>
    <!-- End Page Wrapper -->
    <%- include('../partials/scripts.ejs') %>
  </body>
</html>
